<a href="https://colab.research.google.com/github/KatakNakal007/workshop-python/blob/main/minggu-03/src/minggu03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5.1. More on Lists

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [ ]:
fruits.count('tangerine')

0

In [ ]:
fruits.index('banana')

3

In [ ]:
fruits.index('banana', 4) # Find next banana starting at position 4

6

In [ ]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [ ]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [ ]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [ ]:
fruits.pop()

'pear'

5.1.1 Using List as Stacks

In [ ]:
stack = [3,4,5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [ ]:
stack.pop()

7

In [ ]:
stack

[3, 4, 5, 6]

In [ ]:
stack.pop()

6

In [ ]:
stack.pop()

5

In [ ]:
stack

[3, 4]

5.1.2. Using Lists as Queues

In [ ]:
from collections import deque

In [ ]:
queue = deque(["Eric", "John", "Michael"])

In [ ]:
queue.append("Terry")           # Terry arrives

In [ ]:
queue.append("Graham")          # Graham arrives

In [ ]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [ ]:
queue.popleft()                 # The first to arrive now leaves

'John'

In [ ]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Terry', 'Graham'])

5.1.3. List Comprehensions

In [ ]:
squares = []

In [ ]:
for x in range(10):
  squares.append(x**2)

In [ ]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = list(map(lambda x: x**2, range(10)))

In [ ]:
squares = [x**2 for x in range(10)]

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
combs = []

In [ ]:
for x in [1,2,3]:
  for y in [3,1,4]:
    if x != y:
      combs.append((x, y))

In [ ]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
vec = [-4, -2, 0, 2, 4]

In [ ]:
# create a new list with the values doubled

In [ ]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [ ]:
# filter the list to exclude negative numbers

In [ ]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [ ]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [ ]:
# call a method on each element

In [ ]:
freshfruit = [' banana', ' loganberry ', 'passion fruit ']

In [ ]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [ ]:
# create a list of 2-tuples like (number, square)

In [ ]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# the tuple must be parenthesized, otherwise an error is raised

In [ ]:
[x, x**2 for x in range(6)]

SyntaxError: ignored

In [ ]:
# flatten a list using a listcomp with two 'for'

In [ ]:
vec =[[1,2,3], [4,5,6], [7,8,9]]

In [ ]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
from math import pi

In [ ]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

5.1.4. Nested List Comprehensions

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [ ]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
transposed = []
for i in range(4):
  transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
transposed = []
for i in range(4):
  # the following 3 lines implement the nested listcomp
  transposed_row = []
  for row in matrix:
    transposed_row.append(row[i])
  transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

5.2 The del statement

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [ ]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [ ]:
del a[:]
a

[]

In [ ]:
del a

5.3 Tuples and Squences

In [ ]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [ ]:
t

(12345, 54321, 'hello!')

In [ ]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
# Tuples are immutable:
t[0] = 88888

TypeError: ignored

In [ ]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [ ]:
empty = ()
singleton = 'hello',       # <-- note trailing comma
len(empty)

0

In [ ]:
len(singleton)

1

In [ ]:
singleton

('hello',)

In [ ]:
x, y, z = t

5.4 Sets

In [1]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                     # show that duplicates have been removed

{'banana', 'pear', 'apple', 'orange'}

In [2]:
'orange' in basket                # fast membership testing

True

In [3]:
'crabgrass' in basket

False

In [7]:
# Demosntrate set operation on unique letters from two words

In [5]:
a = set('abracadabra')
b = set('alacazam')
a                         # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [6]:
a - b                     # letters in a but not in b

{'b', 'd', 'r'}

In [8]:
a | b                     # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [9]:
a & b                     # letters in both a and b

{'a', 'c'}

In [13]:
a ^ b                     # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [14]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

5.5 Dictionaries

In [15]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [16]:
tel ['jack']

4098

In [17]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [18]:
list(tel)

['jack', 'guido', 'irv']

In [19]:
sorted(tel)

['guido', 'irv', 'jack']

In [20]:
'guido' in tel

True

In [21]:
'jack' not in tel

False

In [22]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [23]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [24]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

5.6. Looping Techniques

In [25]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
  print(k, v)

gallahad the pure
robin the brave

In [26]:
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i, v)

0 tic
1 tac
2 toe

In [27]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
  print('What is your {0}? It is {1}.'.format(q, a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorite color? It is blue.

In [29]:
for i in reversed(range(1, 10, 2)):
  print(i)

9
7
5
3
1

In [30]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
  print(i)

apple
apple
banana
orange
orange
pear

In [31]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
  print(f)

apple
banana
orange
pear

In [32]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
  if not math.isnan(value):
    filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

5.7. More on Conditions

In [33]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

5.8. Comparing Sequences and Othe Types